* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.color-orange {
  color: #FD6E0A;
}

/* main styles */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image:  url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
  width: 71.25%;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#banner {
  display: flex;
  justify-content: space-between;
  margin: 46px 38px 0px 230px;
  align-items: center;
}

.banner-content {
  width: 585px;
  align-items: ;
}

#banner .banner-content h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
}

#banner .banner-content h1 {
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-image {
  width: 584px;
}

#banner .banner-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}