* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.color-orange {
  color: #FD6E0A;
}

/* main styles */

header {
    background-color: #f6d4bc;
    padding-top: 50px;
}

nav {
  width: 71.25%;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}